@import '../../assets/styles/variables.scss';

.button {
  display: inline-block;
  padding: 10px 32px;

  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid $accentColor;
  border-radius: 6px;

  text-align: center;
  font-weight: 200;

  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: $accentColor;
  }

  &:active {
    background-color: darken($accentColor, 15%);
    border-color: darken($accentColor, 15%);

    transform: translateY(1px);
  }

  & span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all 0.3s ease-in-out;
  }

  &.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    width: 32px;
    height: 32px;
    padding: 0;

    border-radius: 50%;
    border-width: 2px;
  }

  &.black {
    background-color: #232323;

    &:hover,
    &:active {
      background-color: #3d3d3d;
    }
  }

  &.outline {
    background-color: #fff;
    border-color: $accentColor;

    &:hover {
      background-color: $accentColor;

      span {
        color: $secondaryTextColor;
      }

      svg path {
        stroke: $secondaryTextColor;
        fill: $secondaryTextColor;
      }
    }

    &:active {
      background-color: $accentColor;
    }

    span {
      color: $accentColor;
    }

    svg path {
      fill: $accentColor;
    }
  }

  &.disabled {
    border-color: #aaa;
    opacity: 0.2;

    &:hover {
      cursor: not-allowed;

      background-color: transparent;
      svg path {
        fill: #aaa;
      }
    }

    &:active {
      background-color: transparent;

      transform: none;
    }

    svg path {
      fill: #aaa;
    }
  }
}
