.pizzaBlock {
  width: 24%;
  min-width: 280px;
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;

  .image {
    width: 260px;
  }

  .title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  .selector {
    display: flex;
    background-color: #f3f3f3;
    flex-direction: column;
    padding: 6px;

    border-radius: 4px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        flex: 1;
        padding: 8px;

        cursor: pointer;
        user-select: none;

        font-weight: 600;
        font-size: 14px;

        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }

        &.disabled {
          opacity: 0.4;
          pointer-events: none;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;

    span {
      font-size: 14px;
    }
  }

  .buttonAdd {
    &:hover i {
      background-color: #fff;
      color: #fe5f1e;
    }

    svg {
      margin-right: 2px;
    }
    span {
      font-weight: 600;
      font-size: 16px;
    }

    i {
      display: inline-block;
      border-radius: 4px;
      background-color: #fe5f1e;
      color: #fff;
      font-weight: 600;
      width: 22px;
      height: 22px;
      font-style: normal;
      font-size: 13px;
      line-height: 22px;
      position: relative;
      top: -1px;
      left: 3px;
    }
  }
}
