.categories {
  display: flex;

  li {
    padding: 13px 30px;
    margin-right: 10px;

    background-color: #f9f9f9;
    border-radius: 4px;

    font-weight: bold;

    cursor: pointer;
    user-select: none;

    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: #f4f4f4;
    }

    &:active {
      background-color: #ececec;
    }

    &.active {
      background-color: #282828;
      color: #fff;
    }
  }
}
