@import '../../assets/styles/variables.scss';

.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    position: relative;

    color: $secondaryTextColor;

    img {
      max-width: 28px;
      margin-right: 8px;
    }

    p {
      font-size: 8px;
      letter-spacing: 0.24em;
      color: inherit;
      line-height: 1;
    }

    h1 {
      line-height: 1;
      letter-spacing: 0.095em;
      font-size: 24px;
      font-family: $headingFont;
      color: inherit;
    }

    .typographic {
      position: relative;
      padding-right: 38px;
      margin-right: 38px;

      &:after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

        background-color: #fff;
        opacity: 0.15;
        pointer-events: none;
      }
    }
  }

  .left {
    display: flex;

    .phrase h2 {
      color: $secondaryTextColor;
      font-weight: 100;
    }
  }

  .buttonCart {
    display: flex;
    align-items: center;
    padding: 12px 25px;

    line-height: 23px;
    color: $secondaryTextColor;

    b {
      color: inherit;
      font-size: 14px;
    }

    svg {
      margin-right: 8px;
      margin-bottom: 1px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }
  }

  .delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }
}
