.item {
  display: flex;
  justify-content: space-between;
  max-width: none;
  width: 100%;
  margin-top: 24px;
  padding-top: 24px;

  border-top: 1px solid #f6f6f6;

  &:first-child {
    margin-top: 20px;
  }

  @media screen and (max-width: 640px) {
    flex-direction: column;
    row-gap: 16px;
  }

  .left {
    display: flex;
  }

  .img {
    display: flex;
    align-items: center;
    margin-right: 12px;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.01em;
    }

    p {
      font-size: 12px;
      color: #8d8d8d;
      b {
        font-size: inherit;
      }
    }
  }

  .controls {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 640px) {
      justify-content: flex-start;
    }
  }

  .count {
    margin-right: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      min-width: 20px;
      width: 20px;
      height: 20px;
    }

    svg {
      width: 6.67px;
      height: 6.67px;
    }
  }

  .countMinus {
    margin-right: 24px;
    svg path:first-of-type {
      display: none;
    }
  }

  .countPlus {
    margin-left: 24px;
  }

  b {
    font-size: 16px;
  }

  .price {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    b {
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 0.01em;
    }
  }

  .remove {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .button {
      border-color: #ddd;
      min-width: 20px;
      width: 20px;
      height: 20px;

      &:hover,
      &:active {
        border-color: #2a2a2a;
        background-color: #2a2a2a;
      }

      svg {
        width: 6.67px;
        height: 6.67px;
        position: relative;

        transform: rotate(45deg);

        path {
          fill: #d0d0d0;
        }
      }
    }
  }
}
