.item {
  display: flex;
  max-width: none;
  width: 100%;
  margin-top: 24px;
  padding-top: 24px;

  border-top: 1px solid #f6f6f6;

  &:first-child {
    margin-top: 20px;
  }

  .img {
    display: flex;
    align-items: center;
    width: 10%;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

    h3 {
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.01em;
    }

    p {
      font-size: 12px;
      color: #8d8d8d;
      b {
        font-size: inherit;
      }
    }
  }

  .count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%;
  }

  .countMinus svg path:first-of-type {
    display: none;
  }

  b {
    font-size: 22px;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;

    b {
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 0.01em;
    }
  }

  .remove {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 4%;

    .button {
      border-color: #ddd;

      &:hover,
      &:active {
        border-color: #2a2a2a;
        background-color: #2a2a2a;
      }

      svg {
        width: 11.5px;
        height: 11.5px;
        position: relative;

        transform: rotate(45deg);

        path {
          fill: #d0d0d0;
        }
      }
    }
  }
}
