.pizzaBlock {
  background-color: #fff;
  width: 24.25%;
  min-width: 280px;
  margin: 0 auto;
  text-align: center;

  &:hover {
    .image {
      transform: translateY(4px);
    }
  }

  .image {
    position: relative;
    margin-bottom: 20px;

    transition: all 0.3s ease-in-out;

    &:hover {
      img {
        filter: drop-shadow(8px 8px 14px rgba(#000, 0.35));

        transform: rotate(8deg) scale(1.1);
      }

      .hit {
        top: -24px;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 260px;

      filter: drop-shadow(6px 12px 8px rgba(#000, 0.3));

      transition: all 0.3s ease-in-out;
    }
  }

  .hit {
    position: absolute;
    top: 0;
    right: 0;

    background: red;

    color: #fff;
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;

    transition: all 0.3s ease-in-out;

    animation: pulse infinite 0.8s ease-in-out alternate;
  }

  .title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  .selector {
    display: flex;
    background-color: #f3f3f3;
    flex-direction: column;
    padding: 6px;

    border-radius: 4px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        flex: 1;
        padding: 8px;

        cursor: pointer;
        user-select: none;

        font-weight: 600;
        font-size: 14px;

        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }

        &.disabled {
          opacity: 0.4;
          pointer-events: none;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;

    span {
      font-size: 14px;
    }
  }

  .buttonAdd {
    &:hover i {
      background-color: #fff;
      color: #fe5f1e;
    }

    svg {
      margin-right: 2px;
    }
    span {
      font-weight: 600;
      font-size: 16px;
    }

    i {
      display: inline-block;
      border-radius: 4px;
      background-color: #fe5f1e;
      color: #fff;
      font-weight: 600;
      width: 22px;
      height: 22px;
      font-style: normal;
      font-size: 13px;
      line-height: 22px;
      position: relative;
      top: -1px;
      left: 3px;
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1.01);
  }
}
