.categories {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      -webkit-transition: background-color 0.1s ease-in-out;
      transition: background-color 0.1s ease-in-out;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
        background-color: #f4f4f4;
      }

      &:active {
        background-color: #ececec;
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
