.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__logo img {
    margin-right: 15px;
    border-radius: 50%;
  }

  &__logo h1 {
    color: #181818;
    font-size: 24px;
    letter-spacing: 1%;
    text-transform: uppercase;
    font-weight: 800;
  }

  &__logo p {
    color: #7b7b7b;
  }
}
