* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  padding: 50px 0;
  background: #212121;
  color: #333;
}
a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323;
}
h1 {
  font-size: 48px;
}
h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}
a {
  text-decoration: none;
}
