.sort {
  position: relative;
  .label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;

      transition: transform 0.3s ease-in-out;
      transform: rotate(180deg);
      &.rotated {
        transform: rotate(0deg);
      }
    }

    b {
      margin-right: 8px;
    }

    span {
      cursor: pointer;

      border-bottom: 1px dashed #fe5f1e;

      color: #fe5f1e;
    }
  }

  .popup {
    position: absolute;
    right: 0;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;
    margin-top: 15px;

    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 4px;

    ul {
      overflow: hidden;

      li {
        padding: 12px 20px;

        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: #fe5f1e;
        }
      }
    }
  }
}
